<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{geoPrefecture.add.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{geoPrefecture.add.headline}" class="flex-grow-1" />
<!--                <div>-->
<!--                    <a th:href="@{/geoPrefectures}" th:text="#{geoPrefecture.add.back}" class="btn btn-secondary" />-->
<!--                </div>-->
            </div>
            <div th:replace="fragments/forms::globalErrors('geoPrefecture')" />
            <form th:action="${#httpServletRequest.requestURI}" method="post">
                <div th:replace="fragments/forms::inputRow(object='geoPrefecture', field='code')" />
                <div th:replace="fragments/forms::inputRow(object='geoPrefecture', field='name')" />
                <div th:replace="fragments/forms::inputRow(object='geoPrefecture', field='shortName')" />
                <div th:replace="fragments/forms::inputRow(object='geoPrefecture', field='active')" />
                <div th:replace="fragments/forms::inputRow(object='geoPrefecture', field='fkRegion', type='select', idGeo=${geoId})" />
                <input type="submit" th:value="#{geoPrefecture.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
